.text-color-mauve {
  color: #D64B73;
}

.text-color-yellow {
  color: #E0D833;
}

.flex-container {
  display: flex;
}

.justify-self-end {
  justify-self: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.all-column {
  grid-column: 1 / -1;
}

.left-column {
  grid-column: 1;
}

.right-column {
  grid-column: 2;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}

.ord-4 {
  order: 4;
}

.ord-5 {
  order: 5;
}

.mt-2 {
  margin-top: 2rem;

  @media screen and (min-width: 40rem) {
    margin-top: unset;
  }
}